{% load i18n %}

{% if app_list %}
  {% for app in app_list %}
    <div class="app-{{ app.app_label }} module dark-neumorphic slide-in-left {% if app.app_url in request.path %}current-app{% endif %}" style="animation-delay: {{ forloop.counter0|divisibleby:2|yesno:"0.1s,0.2s" }};">
      <div class="app-header dark-neumorphic">
        <h3 class="app-name dark-neumorphic">
          <a href="{{ app.app_url }}" class="section" title="{% blocktranslate with name=app.name %}Models in the {{ name }} application{% endblocktranslate %}">
            {{ app.name }}
          </a>
        </h3>
      </div>
      <div class="model-list dark-neumorphic">
        {% for model in app.models %}
          <div class="model-item dark-neumorphic {% if model.admin_url in request.path %}current-model{% endif %}">
            {% if model.admin_url %}
              <a href="{{ model.admin_url }}" class="model-link dark-neumorphic" {% if model.admin_url in request.path %}aria-current="page"{% endif %}>
                {{ model.name }}
              </a>
            {% else %}
              <span class="model-name dark-neumorphic">{{ model.name }}</span>
            {% endif %}

            <div class="model-actions dark-neumorphic">
              {% if model.add_url %}
                <a href="{{ model.add_url }}" class="addlink button dark-neumorphic secondary">
                  <i class="fas fa-plus"></i>
                  {% translate 'Add' %}
                </a>
              {% endif %}

              {% if model.admin_url and show_changelinks %}
                {% if model.view_only %}
                  <a href="{{ model.admin_url }}" class="viewlink button dark-neumorphic secondary">
                    <i class="fas fa-eye"></i>
                    {% translate 'View' %}
                  </a>
                {% else %}
                  <a href="{{ model.admin_url }}" class="changelink button dark-neumorphic secondary">
                    <i class="fas fa-edit"></i>
                    {% translate 'Change' %}
                  </a>
                {% endif %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  {% endfor %}
{% else %}
  <div class="no-permission dark-neumorphic">
    <p>{% translate 'You don’t have permission to view or edit anything.' %}</p>
  </div>
{% endif %}