{% extends "admin/caidan.html" %}
{% load i18n static %}


{% block content %}
<!--{{ lists }}-->

<head>

    <link href="/static/keshihua/css/sb-admin-2.min.css" rel="stylesheet">
    <script src="/static/keshihua/js/bootstrap.bundle.min.js"></script>

</head>

<div>
<br>
<br>
<br>
<br>
<br>
<h1 class="h3 mb-1 text-gray-800" style="text-align: center">缓存已经更新</h1>
</div>
<br>
<br>
<p style="text-align: center">网站原有缓存已经清空，并重新生成了新的缓存！缓存过期时间为您在『网站配置』中所设的时间!</p>
<body>





<!--------选择缓存时间结束--------->




</body>

{% endblock %}