<!DOCTYPE html>
<html lang="zxx">

<head>
  <title></title>
  <!-- Meta tag Keywords -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8" />
  <meta name="keywords"
    content="" />
  <!-- //Meta tag Keywords -->

  <!-- google fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,700,900&display=swap" rel="stylesheet">

  <!-- //google fonts -->

  <!--/Style-CSS -->
  <link rel="stylesheet" href="/static/style.css" type="text/css" media="all" />
  <!--//Style-CSS -->

  <!--/fontAwesome-CSS -->
  <link rel="stylesheet" href="/static/fontAwesome.css" type="text/css" media="all" />
  <!--/fontAwesome-CSS -->
</head>

<body>
  <div class="error-block">

    <div class="grids-2">
      <div class="right-grid">
        <h2>404</h2>
        <h3>页面没有找到</h3>
        <a href="/" class="home btn"> 返回首页 </a>
      </div>
    </div>

  </div>
</body>

</html>
