<script type="text/javascript" src="{{site_mes.url}}/static/js/swiper.min.js"></script>
<script type="text/javascript" src="{{site_mes.url}}/static/js/common.js"></script>
<script src="{{site_mes.url}}/static/js/jquery.form.js"></script>
<script src="{{site_mes.url}}/static/js/layer.js"></script>
<script src="{{site_mes.url}}/static/admin/js/common.js"></script>
<script type="text/javascript">
    $('.lksy_foot_btn').click(function () {
        JQ_post("lksy_addmes", "/message.html");
    });
</script>